<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title class="ion-text-center" size="large">Tasklist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="default" [fullscreen]="true">

  <div *ngIf="tasks.length === 0">

    <p> não existe nenhuma tarefa. </p>

  </div>

  <ion-list>

    <ion-item-sliding *ngFor="let task of tasks">
      <ion-item>
        <ion-label>{{task.name}} </ion-label>
        <ion-icon slot="end" name="ellipse-outline"></ion-icon>
      </ion-item>
  
      <ion-item-options>

        <ion-item-option (click)="alert('testeHeader', 'testePlaceHolder', 'testeButton', concluir)" color="success"><ion-icon  name="checkmark-outline"></ion-icon></ion-item-option>
        <ion-item-option (click)="editTask()"><ion-icon name="pencil-outline"></ion-icon></ion-item-option>
        <ion-item-option (click)="deleteTask(task.id)" color="danger"><ion-icon name="trash-outline"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>    
    
  </ion-list>


  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="showAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
